.function-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.function-buttons button {
  padding: 10px 20px;
  background-color: gray;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.function-buttons button:hover {
  background-color: darkgray;
}
